p,a{
    font-size:15px;
    color: #5d5d5d;
    text-decoration: none;
    text-align: center;
}
div{
    background: #0d0d0d;
    padding: 2rem;
}
body{
    margin: 0;
    padding: 0;
}