body{
    background: url(../picture/title/bg.jpg);
    margin: 0
}
a{
   text-decoration: none
}
li{
   list-style: none    
}
div.pic{
    overflow: hidden;
}
.pic>a>img{
   height:100px;
}
.body_top{
     margin-left:230px;
}
.body_top>ul{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    overflow: hidden;
    padding: 0
}
.body_top>ul>li{
    display: block;
    width: 184px;
    height: 300px;
}
.body_top>ul>.button{
    width: 30px;
    height: 68px;
    margin: 91px 0 91px 0;
    background:rgba(0,0,0,.15);
    border-radius: 2px;
    cursor: pointer;
}
.body_top>ul>.button>img{
    display: block;
    margin:28px auto 28px
}
.body_top>ul>li>a>img{
   width: 184px;
   height: 242px;
   text-align: center
}
.body_top>ul>li>p{
    display: block;
    text-align: center;
    background: #fff;
    margin: 0;
    padding:15px 0 20px 0
}
.body_middle{
    display: flex;
    margin-left:280px
}
.body_middle>div.body_middle_top{
   margin-right:20px
}
.body_middle>div>ul{
    display: flex;
    flex-direction:column
}
.body_middle>div>a{
    display: block;
    width: 320px;
    height: 179px;
}
.body_middle>div>a>img{
    display: block;
    width: 320px;
    height: 179px;
}
.body_middle>div>ul>li>a{
    display: flex;
    margin-bottom: 10px;
    width: 320px;
    background: #fff
}
.body_middle>div>ul>li>a>img{
    width: 102px;
    height: 58px;
}
.body_middle>div>ul{
    padding: 0
}
.body_middle>div>ul>li>a>div{
    height: 20px;
}
.body_middle>div>ul>li>a>div>strong{
    display: inline-block;
   font:15px;
   color:#3c3c3c;
   margin:5px 50px 5px 20px
}
.body_middle>div>ul>li>a>div>p{
    font-size:14px;
    color:#3c3c3c;
   margin:5px 50px 5px 20px
}
.body_middle>div>ul>li>a>p{
    display: block;
    margin: 6px 0 0 28px;
    font-size:13px;
    color:#3c3c3c;
}
.body_middle>div>ul>li>a>i{
    display: block;
    width: 15px;
    height:15px;
    margin: 19px 0 0 52px;
    background: url(../picture/title/sprite2.png) 15px -16px
}
.body_middle>div>ul>li>a>div.tj>p{
    display: block;
    margin:8px 10px;
    text-align: center
}
.body_middle>div.body_middle_top_right>ul>li>a{
    display: flex;
    margin-bottom: 18px;
    width: 320px
}
.body_update{
    margin-left:280px
}
.body_update>ul{
    display: flex;
    padding: 0;
}
.body_update>ul>li{
    margin-right:20px
}
.body_update>ul>li>a>img{
    width: 321px;
    height: 180px;
}
.body_update>ul>li>a>h3{
    color:#000
}
.body_update>ul>li>a>p{
    color:#757575;
    font:14px
}
.body_update>ul>li>a>div{
    color:#757575;
    font:14px;
    text-overflow: ellipsis;
    height: 80px;
}
.body_footer{
    margin-left:280px
}
.d1{
    display: flex;
}
.d11 img{
    width: 660px;
}
.d12 img{
    width: 320px;
}
.d13 img{
    width: 320px;
}
.d2 img{
    width: 320px;
}
.d3{
    display: flex
}
.d33 img{
    width: 320px
}
.bottom{
    margin: 0 auto
}
.d11{
    margin-right: 1.5rem;
}
.bottom{
    position: relative;
}
.bottom>span.d12{
    display: inline-block;
    position: absolute;
    top:413px;left:0px
}
.bottom>span.d13{
    display: inline-block;
    position: absolute;
    top:413px;left:340px
}
.d2{
    margin-bottom: 1.5rem
}
.d33{
    margin-right: 22px
}
.side img{
    border:1px solid #ffe37f;
    border-radius: 50%;
    background: #f69c00;
    display: block;
    padding: 0.25rem;
    margin-bottom: 1rem
}
.side{
    position: fixed;
    right:5px;
    top:600px
}




div.main{
    width: 1400px;
    margin:0 auto;
}
div.main img{
    width: 1000px;
    overflow:hidden;
}
div.main>.banner>ul{
    width: 6000px
}