
.header_nav {
    height: 50px;
    display: flex;
    background: #fefefe;
}

.header_nav_hd {
    display: flex;
    justify-content: space-around;
    margin-right: 300px;
    margin-left: 200px;
}

.header_nav_bd {
    display: flex;
    justify-content: space-around;
}
.header_nav_hd{
    position: relative;
}
.header_nav_hd a {
    display: block;
    width: 100px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    line-height: 50px;
    text-align: center;
}
.header_nav_hd a#more{
    opacity: 0;
    background: #fff;
    position: absolute;
    left:100px;
    margin-top:50px;
    transition:.5s;
}
.header_nav_hd a#more:hover{
    opacity: 1;
    background: #fff;
    position: absolute;
    left:100px;
    margin-top:50px;
}
.header_nav_bd a {
    display: block;
    width: 100px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    line-height: 50px;
    text-align: center;
}
.header_nav_ft{
    position: relative;
}
.header_nav_ft input {
    margin-top: 10px;
    margin-left: 100px;
    padding: 3px 25px 3px 15px;
    width: 150px;
    height: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    border: 1px solid #f69c00;
    line-height: 50px;
}
.header_nav_ft a{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:1px solid #f69c00; 
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    right:-49px;top:10px;
    background: #ffe37f;
}
.header_nav_ft a i {
    width:20px;height:22px;
    background: url(../picture/title/search.png) no-repeat;
    position: absolute;
    top:3px;
    left:11px;
}
.header_pic {
    overflow: hidden;
    margin-bottom: 30px
}

.header_pic img {
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 4%;
    height: 20%;
    top: 40%;
    background-color: #aaa;
    border-radius: 0.25rem;
}

.carousel-indicators li {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
}

.carousel-indicators .active {
    background-color: #f69c00;
}

.container{
    position: absolute;
    left: 17%
}
.nav1{
    float: left;
}
.body_nav {
    border: 1px solid #e2e3e5;
    width: 160px;
    height: 160px;
    margin-left: 50px;
    margin-top: 50px;
}

.body_nav img {
    display: block;
    width: 130px;
    margin: 15px 15px;
}

.body_nav strong {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.body_nav .app-keywords {
    color: #f69c00;
}

.footer_nav {
    border: 1px solid #e2e3e5;
    border-radius: 5px;
    width: 160px;
    margin-left: 50px;
    margin-top: 100px;
    background: #fff;
}

.footer_nav h6 {
    display: block;
    width: 160px;
    text-align: center;
    margin-top: 20px;
    color: #757575;
    font-weight: bold;
}

.footer_nav li {
    display: block;
    width: 160px;
    margin-top: 20px;
    color: #757575;
    list-style: none;
}

.footer_nav a {
    color: #757575;
    text-decoration: none;
}
.body_top h3 {
    display: block;
    margin-left: 20%;
    margin-top: 520px;
    margin-bottom: 40px;
}

.body_top ul {
    margin-right: 50px;
    margin-top: 15px;
    display: flex;
    
}

.body_top li {
    display: block;
    margin: 20px;
    list-style: none;
    justify-content: space-between;
}

.body_top img {
    width: 185px;
    margin-bottom: 20px;
    border-radius: 2px;
    transition: 1s;
}

.body_top img:hover {
    transform: scale(1.05);
}

.body_top p {
    text-align: center;
    color: #3c3c3c;
}

.img_w {
    width: 320px;
}

.img_sm_w {
    width: 102px;
}
.img_y_w {
    width: 60px;
}
.my_color{color:#ff6f00;}

.h3 {
    display: block;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 40px;
}
div p.pic1{
    display: block;
    width: 15px;
    height: 15px;
    background: url(../picture/title/sprite2.png) 15px -17px
}
div p.pic2{
    display: block;
    width: 15px;
    height: 15px;
    background: url(../picture/title/sprite2.png) 15px 0px
}
.d1{
    display: flex;
}
.d11 img{
    width: 660px;
}
.d12 img{
    width: 320px;
}
.d13 img{
    width: 320px;
}
.d2 img{
    width: 320px;
}
.d3{
    display: flex
}
.d33 img{
    width: 320px
}
.bottom{
    width:63%;
    margin: 0 auto
}
.d11{
    margin-right: 1.5rem;
}
.bottom{
    position: relative;
}
.bottom>span.d12{
    display: inline-block;
    position: absolute;
    top:413px;left:0px
}
.bottom>span.d13{
    display: inline-block;
    position: absolute;
    top:413px;left:340px
}
.d2{
    margin-bottom: 1.5rem
}
.d33{
    margin-right: 22px
}
.side img{
    border:1px solid #ffe37f;
    border-radius: 50%;
    background: #f69c00;
    display: block;
    padding: 0.25rem;
    margin-bottom: 1rem
}
.side{
    position: fixed;
    right:5px;
    top:600px
}